<div class="col-md-3">
    <div class="profile-sidebar">
        <a href="#">
            <div class="course-row">
                Bài 1: aaa
            </div>
        </a>
        <a href="#">
            <div class="course-row">
                Bài 1: aaa
            </div>
        </a>
        <a href="#">
            <div class="course-row">
                Bài 1: aaa
            </div>
        </a>
    </div>
</div>