<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/signin.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <link rel="stylesheet" href="/styles/test.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">

    <link rel="stylesheet" href="/styles/teacher.css">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/uploadCourse.css" />
    <link rel="stylesheet" href="/styles/student.css">
    <link rel="stylesheet" href="/styles/mycourse.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    {{!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    {{!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> --}}
    {{!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/z4lphf6d4i36jb62ajluafqbnvkevc5cp1kee58bvhw8314y/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editor',
            skin: 'bootstrap',
            plugins: 'lists, link, image, media',
            toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
            menubar: false
        });
        tinymce.init({
            selector: 'textarea#editor1',
            skin: 'bootstrap',
            plugins: 'lists, link, image, media',
            toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
            menubar: false
        });
    </script>
    <script src="/js/utils.js"></script>
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/signin.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <link rel="stylesheet" href="/styles/test.css" />
    <link rel="stylesheet" href="/styles/teacher.css">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/uploadCourse.css" />
    <link rel="stylesheet" href="/styles/student.css">
    <link rel="stylesheet" href="/styles/mycourse.css">
    <link rel="stylesheet" href="/styles/updateCourse.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap fa-2x"></i>LEARNING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="d-flex align-items-center navbar-nav mr-auto">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#each this.category}}
                            <a class="dropdown-item" href="/course/category/{{this.name}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link home active" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item profile-admin hide">
                        <a class="nav-link profile-admin" href="/admin/profile">Admin</a>
                    </li>
                    <li class="nav-item profile-student hide">
                        <a class="nav-link profile-student" href="/profile/student">Student</a>
                    </li>
                    <li class="nav-item profile-teacher hide">
                        <a class="nav-link profile-teacher" href="/profile/teacher">Teacher</a>
                    </li>
                    <li class="nav-item category hide">
                        <a class="nav-link category" href="/admin/category">Category</a>
                    </li>
                    <li class="nav-item list-teacher hide">
                        <a class="nav-link list-teacher" href="/admin/teachers">Teachers</a>
                    </li>
                    <li class="nav-item list-student hide">
                        <a class="nav-link list-student" href="/admin/students">Students</a>
                    </li>
                    <li class="nav-item list-course hide">
                        <a class="nav-link list-course" href="/admin/courses">Courses</a>
                    </li>
                    <li class="nav-item upload-course hide">
                        <a class="nav-link upload-course" href="/upload/course">Upload Course<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item signin">
                        <a class="nav-link signin" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item signup">
                        <a class="nav-link signup" href="/signup/student">Sign Up</a>
                    </li>
                    <li class="nav-item dropdown hide">
                        <a class="nav-link fas fa-sign-out-alt fa-lg" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout">Log Out</a>
                            {{!-- <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> --}}
                        </div>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> --}}
                </ul>
                <form class="form-inline my-2 my-lg-0" id="search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>{{{body}}}</main>
    <script src="/js/main.js"></script>
</body>

</html>