<div class="container">
	<div class="row profile">
		{{> navbarStudent}}
		<div class="col-md-9">
			<div class="profile-content">
				<h3>Change Password</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Your old password:</p>
					</div>
					<div class="col-content">
						<input type="password" id="old-password-student" placeholder="Enter old password">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Your new password:</p>
					</div>
					<div class="col-content">
						<input type="password" id="new-password-student" placeholder="Enter new password">
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<a name="" id="btn-change-password-student" class="btn btn-primary" href="#" role="button"
					style="min-width: 150px;background-color:#5b9bd1;">Change Password</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<script>
	document.querySelector(".nav-link.active").classList.remove("active");
	document.querySelector(".nav-link.profile-student").classList.add("active");
	document.querySelector(".navbar-profile.active").classList.remove("active")
	document.querySelector(".change-password.navbar-profile").classList.add("active")
</script>
<script src="/js/changePasswordStudent.js"></script>