<div class="container">
    <div class="row profile">
		{{> hello}}
		<div class="col-md-9">
            <div class="profile-content">
				<h3>Thông tin học viên</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Tên tài khoản:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập tài khoản">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Tên học viên:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập tên">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Email:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập email">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Số điện thoại:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập số điện thoại">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Mật khẩu:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập mật khẩu">
					</div>
				</div>
                <div class="row-content">
					<div class="col-content">
						<p>Nhập lại khẩu:</p>
					</div>
					<div class="col-content">
						<input type="text" placeholder="Nhập lại mật khẩu">
					</div>
				</div>
				
            </div>
			<div class="card-footer bg-transparent">
					<a name="" id="" class="btn btn-primary" href="#" role="button" style="min-width: 150px;background-color:#5b9bd1;">Edit Profile</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<script src="/js/profileStudent.js"></script>