<div class="container">
    <div class="row profile">
        {{> hello}}
        <class class="col-md-9">
            <div class="profile-content-course">
                <h3>My courses</h3>
                {{#each this.user.myCourses}}
                <div class="my-course-card">
                    <a href="#" id="#card" style="text-decoration: none;">
                        <div class="course-card">
                            <img width="230" height="150" src={{this.image}}>
                            <div class="course-card-detail">
                                <div class="my-course-name">{{this.name}}</div>
                                <span>{{this.teacher.userName}}</span>
                                <div class=" text-warning">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
        </class>

    </div>
</div>
</div>
<script>
    document.querySelector(".active").classList.remove("active")
    document.querySelector(".mycourse").classList.add("active")
</script>