<div class="larger-container">
    {{> contentList}}
    <div class="col-md-9">
        <div class="profile-content">
            <div class="course-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0SJE9dYdpps" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>