<div class="container">
    <div class="row profile">
        {{> navbarStudent}}
        <div class="col-md-9">
            <div class="profile-content-course">
                <h3>My Wishlist</h3>
                {{#each this.user.wishlist }}
                <div class="wishlist-card">
                    <a href="#" id="#card" style="text-decoration: none;">
                        <div class="card-mycourse-wishlist">
                            <div class="course-card-wishlist">
                                <img width="230" height="150" src={{this.image}}>
                                <div class="course-card-detail">
                                    <div class="my-course-name">{{this.name}}</div>
                                    <span>{{this.teacher.userName}}</span>
                                    <div class=" text-warning">
                                        {{#times this.rating}}
                                        <i class="fa fa-star"></i>
                                        {{/times}}
                                    </div>
                                    <div class="my-course-price">
                                        <div class="origin-price"><span>{{this.price}}</span></div>
                                        {{!-- <div class="sale-price"><span>$15</span></div> --}}
                                        <i class="fa fa-heart fa-2x" aria-hidden="true"
                                            style="float: right;margin-left:110px;color:red"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script>
    document.querySelector(".navbar-profile.active").classList.remove("active")
    document.querySelector(".wishlist.navbar-profile").classList.add("active")
</script>