<!--Section: Block Content-->
<div class="card-body">
    <section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

        <div id="mdb-lightbox-ui"></div>

        <div class="mdb-lightbox">

            <div class="row product-gallery mx-1">

            <div class="col-12 mb-0">
                <figure class="view overlay rounded z-depth-1 main-img">
                <a href="https://nordiccoder.com/app/uploads/2019/08/26-nodejs.png"
                    data-size="710x823">
                    <img src="https://nordiccoder.com/app/uploads/2019/08/26-nodejs.png"
                    class="img-fluid z-depth-1">
                </a>
                </figure>
            </div>
            
            </div>

        </div>

        </div>
        <div class="col-md-6">

        <h5>Online course to open ...</h5>
        <p class="mb-2 text-muted text-uppercase small">Categories</p>
        <p>
            <span class="mr-1" style="text-decoration: line-through;"><strong>1$</strong></span>
            <span class="mr-1"><strong>Sale 0.5$</strong></span>
        </p>
        <button type="button" class="btn btn-dark btn-md mr-1 mb-2"><i class="fa fa-heart"></i> Wishlist</button>
        <p class="pt-1">Vô học đi tụi ngu lz</p>
        <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0">
            <tbody>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Created by</strong></th>
                <td>{{this.teacher.userName}}</td>
                </tr>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Rating</strong></th>
                <td>
                        <div class=" text-warning">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Views</strong></th>
                <td>1000000</td>
                </tr>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Details</strong></th>
                <td>Hướng dẫn sử dụng NodeJS</td>
                </tr>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Registered</strong></th>
                <td>100000</td>
                </tr>
                <tr>
                <th class="pl-0 w-25" scope="row"><strong>Last Updated</strong></th>
                <td>100000</td>
                </tr>
            </tbody>
            </table>
        </div>
        <hr>
        <div class="table-responsive mb-2">
            <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                <td class="pl-0">
                    <div class="def-number-input number-input safari_only mb-0">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
        </div>
    </div>

    </section>

    <hr>    
    <div class="card text-center">
  <div class="card-header">
    Related Courses
    </div>
        <div class="card-body">
            
              <div class="card" style="width: 18rem;">
                <a href="#">
                    <img class="card-img-top" src="https://resources.mindx.edu.vn/uploads/images/python-dung-de-lam-gi-1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </a>
            </div>   
        </div>
        
    </div><hr>
     <div class="card" style="width:50%;">
        <h5 class="card-header">Content</h5>
        <div class="card-body">
            <h5 class="card-title">Phần 1</h5>
            <ul>
                <li class="">
                    <a href="">
                        <h5>Bài 1: Giới thiệu tổng quan</h5>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <h5>Bài 2: Giới thiệu NodeJS</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
     <center><H2>Reviews</H2></center>
    <div class="review-container">
        <div class="review-icon">
            <img src="https://i.pinimg.com/236x/09/3d/05/093d059a988878a4ba30f3d6c79926d6.jpg" alt="">
        </div>
        <div class="review" style="margin-left: 20px;">
            <p>A Great course for someone who wants to get started with Python.</p>
            <p>The exercises and challenges really helped and forced me to apply what was taught in each section.</p>
            <P>The puzzlers in between also helped keep things interesting from time to time</P>
            <div class=" text-warning">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <Span style="color: black;font-size:large">Great</Span>
            </div>
        </div>
    </div>
   <center><hr style="width: 60%; "></center> 
   <div class="review-container">
        <div class="review-icon">
            <img src="https://i.pinimg.com/236x/09/3d/05/093d059a988878a4ba30f3d6c79926d6.jpg" alt="">
        </div>
        <div class="review" style="margin-left: 20px;">
            <p>A Great course for someone who wants to get started with Python.</p>
            <p>The exercises and challenges really helped and forced me to apply what was taught in each section.</p>
            <P>The puzzlers in between also helped keep things interesting from time to time</P>
            <div class=" text-warning">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <Span style="color: black;font-size:large">Great</Span>
            </div>
        </div>
    </div>
   <center><hr style="width: 60%; "></center>
   <div class="review-container">
        <div class="review-icon">
            <img src="https://i.pinimg.com/236x/09/3d/05/093d059a988878a4ba30f3d6c79926d6.jpg" alt="">
        </div>
        <div class="review" style="margin-left: 20px;">
            <p>A Great course for someone who wants to get started with Python.</p>
            <p>The exercises and challenges really helped and forced me to apply what was taught in each section.</p>
            <P>The puzzlers in between also helped keep things interesting from time to time</P>
            <div class=" text-warning">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <Span style="color: black;font-size:large">Great</Span>
            </div>
        </div>
    </div>
   <center><hr style="width: 60%; "></center>
   <center><H2>Author</H2></center>
   <div class="author-container">
        <div class="review-icon">
            <img src="https://i.pinimg.com/236x/09/3d/05/093d059a988878a4ba30f3d6c79926d6.jpg" alt="">
        </div>
        <div class="author" style="margin-left: 20px;">
            <p>Name of author</p>
            <p>Name of degree</p>
            <p>Decription</p>
        </div>
    </div>
</div>

<!--Section: Block Content-->