<form class="form-signup" method="POST" action="/signup">
   {{#if this.message}}
       <div class="signup-fail">Sign Up Failed !!!</div>
   {{/if}}
    <h2>SIGN UP</h2>
    <input type="text" placeholder="UserName" name="userName"
    />
    <input type="email" placeholder="Email" name="email"
    />
    <input type="password" placeholder="Password" name="password" 
    />
    <input type="text" placeholder="Age" name="age"
    />
    <input type="text" placeholder="Address" name="address"
    />
    <input type="text" placeholder="Phone Number" name="phone"
    />
    <button class="sign-up" type="submit">
        Sign Up
    </button>
</form>
<script type="module" src="/js/signup.js"></script>