<form class="form-signin" method="POST" action="/signin">
  {{#if this.message}}
  <div class="signin-fail">Sign In Failed !!!</div>
  {{/if}}
  <h2>SIGN IN</h2>
  <input type="email" placeholder="Email" name="email" />
  <input type="password" placeholder="Password" name="password" />
  <button class="btn-sign-in" type="submit">
    Sign-In
  </button>
  <button class="btn-sign-up-student">
    Create A New Account For Student
  </button>
  <button class="btn-sign-up-teacher">
    Create A New Account For Teacher
  </button>
</form>
<script type="module" src="/js/signin.js"></script>
<script>
  document.querySelector("#search").classList.add("hide");
</script>